* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
  background-image:
    linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url(https://cdn.pixabay.com/photo/2021/03/28/13/00/lists-6131213_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  max-width: 1250px;
  width: 90%;
  margin: auto;
}

.todo-container {
  width: 28%;
  margin: 10rem auto;
  border: white solid 2px;
  border-radius: 8px;
  background-color: white;
}

.content-container {
  width: 90%;
  margin: 1rem auto;
}

.todo-header {
  text-align: center;
  margin: 1rem 0;
}
