* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
  background-image:
    linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url(https://cdn.pixabay.com/photo/2021/03/28/13/00/lists-6131213_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container {
  max-width: 1250px;
  width: 90%;
  margin: auto;
}

.todo-container {
  width: 28%;
  margin: 10rem auto;
  border: white solid 2px;
  border-radius: 8px;
  background-color: #b1adad;
}

.content-container {
  width: 70%;
  margin: 1rem auto;
}

.todo-header {
  text-align: center;
  margin: 1rem auto;
  font-size: 44px;
}

.add-item-container {
  width: 100%;
  margin: 1rem auto;
}

.additemfield {
  width: 75%;
  padding: 7px 4px;
  border-radius: 4px;
  border: none;
}

.add-item-btn {
  padding: 7px 16px;
  background-color: #1fde29;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.inputfield {
  width: 100%;
  padding: 7px 4px;
  border-radius: 4px;
  border: none;
  margin: 0.6rem 0;
}

.todo-list {
  list-style: none;
}

.list-item {
  background-color: white;
  margin: 1rem 0;
  padding: 0.4rem 1rem;
  font-size: 21px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.jsremovebtn {
  font-size: 20px;
  color: red;
}

.removebtn {
  background: none;
  border: none;
  cursor: pointer;
}

.clear-btn {
  width: 100%;
  margin-top: 2rem;
  background-color: #ffb109;
  padding: 7px 13px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: larger;
  cursor: pointer;
}
